* {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  height: auto;
}

#header-section {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

#header-section img {
  margin-left: 30px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hamburger {
  visibility: hidden;
}

.hamburger:hover {
  color: #2639ed;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.nav-ul a {
  /* position: relative;
    left: 375px;
    top: 30px; */
  text-decoration: none;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.nav-ul a:hover {
  color: blue;
}

/* Hero Section */
#hero-section {
  width: 100%;
  height: 594px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.dot-ornament img {
  position: absolute;
  margin-top: 290px;
  left: 45px;
  width: 340px;
  height: 200px;
}

.hero-left {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  left: 80px;
}
.hero-left h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
}
.hero-left span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6;
}
.hero-left button {
  background-color: #2639ed;
  color: white;
  width: 140px;
  height: 45px;
  font-size: 15px;
  font: bold;
  border: none;
  border-radius: 50px;
}

.hero-left button:hover {
  background-color: #ffffff;
  color: #2639ed;
  border: 1px solid #2639ed;
  box-shadow: 0px 1px 1px 0px;
}

.ellipse-85 {
  position: absolute;
  left: 495px;
}
.Rectangle-23 {
  position: absolute;
  top: 500px;
  left: 900px;
}
.hero-image img {
  /* height: 490px; */
  width: 700px;
  position: relative;
  left: 140px;
}

/* Our Client */
#clients {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.h1-span {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  right: -20px;
}
#clients h1 {
  font-size: 34px;
}
#clients span {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.clients-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  position: relative;
  left: 90px;
  padding-top: 68px;
}
.google img {
  width: 149px;
  height: 49px;
}
.airbnb img {
  width: 166px;
  height: 52px;
}
.uber img {
  width: 165px;
  height: 30px;
  margin-top: 12px;
}
.amazon img {
  width: 142px;
  height: 43px;
  margin-top: 15px;
}

/* How can we help you */
#services {
  width: 100%;
  margin: auto;
  display: flex;
  height: auto;
  padding-bottom: 75px;
}

.rectangle-1 {
  position: relative;
  width: 165px;
  height: 160px;
  border-radius: 80px 0 0;
  background: #fff5db;
  right: -70px;
}
#services h1 {
  font-size: 34px;
}
#services span {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.service-left {
  margin-top: 290px;
}
.service-left-h1 {
  position: relative;
  left: 100px;
  margin-top: -92px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 27px;
  z-index: 2;
}
.dot-ornament-2 img {
  position: relative;
  width: 350px;
  height: 150px;
  top: 170px;
  left: 95px;
}
.circle {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 8.8px solid #ff007a;
  border-radius: 100px;
  margin-top: 650px;
  right: 125px;
}
.rectangle-2 {
  position: relative;
  width: 914px;
  height: 590px;
  border-radius: 100px 0 0;
  background: #f4f9ff;
  right: 0;
  margin-top: 200px;
}
.rectangle-box {
  /* flex-wrap: wrap; */
}
.layout-1 {
  width: 280px;
  height: 350px;
  border-radius: 40px;
  background: #ffffff;
  position: relative;
  display: flex;
  margin-top: -628px;
  left: 170px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  box-shadow: 0px 0px 8px 2px hsla(0, 0%, 0%, 0.05);
  flex-wrap: wrap;
}

.layout-1 h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
}
.layout-1 span {
  font-size: 15px;
  text-align: center;
  line-height: 1.6;
}
.rect-1 {
  width: 120px;
  height: 120px;
  background: #f1f7ff;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-1 :hover {
  transform: scale(1.1);
}

.layout-2 {
  width: 280px;
  height: 350px;
  border-radius: 40px;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -420px;
  left: 480px;
  gap: 25px;
  box-shadow: 0px 0px 8px 2px hsla(0, 0%, 0%, 0.05);
  flex-wrap: wrap;
}
.layout-2 :hover {
  transform: scale(1.1);
}
.layout-2 h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
}
.layout-2 span {
  font-size: 15px;
  text-align: center;
  line-height: 1.6;
}
.rect-2 {
  width: 120px;
  height: 120px;
  background: #fff7e3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-3 {
  width: 280px;
  height: 350px;
  border-radius: 40px;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100px;
  left: 170px;
  gap: 25px;
  box-shadow: 0px 0px 8px 2px hsla(0, 0%, 0%, 0.05);
  flex-wrap: wrap;
}
.layout-3 :hover {
  transform: scale(1.1);
}
.layout-3 h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
}
.layout-3 span {
  font-size: 15px;
  text-align: center;
  line-height: 1.6;
}
.rect-3 {
  width: 120px;
  height: 120px;
  background: #fff2f8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-4 {
  width: 280px;
  height: 350px;
  border-radius: 40px;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -320px;
  left: 480px;
  gap: 25px;
  box-shadow: 0px 0px 8px 2px hsla(0, 0%, 0%, 0.05);
  flex-wrap: wrap;
}
.layout-4 :hover {
  transform: scale(1.1);
}
.layout-4 h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
}
.layout-4 span {
  font-size: 15px;
  text-align: center;
  line-height: 1.6;
}
.rect-4 {
  width: 120px;
  height: 120px;
  background: #deffee;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Great Since */
#great-digital {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
}

.great-since {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  right: 40px;
  top: 20px;
}

.image-left {
  position: relative;
  left: -30px;
}
.image-unsplash {
  position: relative;
  margin-top: 100px;
  z-index: 2;
}


.ellipse-86 {
  position: relative;
  left: 505px;
  margin-top: -140px;
  z-index: 1;
}
.rect-26 {
  position: relative;
  margin-top: 160px;
}

.great-since h1 {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 40px;
  margin-top: -165px;
  font-size: 34px;
  line-height: 1.1;
}
.great-since span {
  position: relative;
  font-size: 15px;
  line-height: 1.7;
  left: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

/* What our happy client say */
#client-feedback {
  display: flex;
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 15px;
}

.what-client-say {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 70px;
}

.dot-ornament-6 img {
  width: 194px;
  height: 154px;
  position: absolute;
  left: 330px;
  margin-top: -11px;
}

.unsplash-6 {
  position: relative;
  z-index: 2;
}

.ellipse-6 {
  position: relative;
  margin-top: -210px;
  z-index: 1;
  left: 12px;
}

.clients-comments {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 135px;
}
.clients-comments h2 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.clients-comments span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.8;
}
.dots-6 {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.right-pics {
  position: relative;
  right: -40px;
  top: 35px;
}

.clustered-pics img {
  position: relative;
  width: 340px;
  height: 350px;
  z-index: 2;
}
.circle-6 {
  position: relative;
  z-index: 1;
  margin-top: -250px;
  right: -20px;
}

/* Newsletter */
#newsletter-section {
  width: 90%;
  height: auto;
  position: relative;
  padding-top: 142px;
  left: 20px;
  margin: auto;
}

.rect-30 img {
  position: relative;
  width: 1000px;
  height: 270px;
  z-index: 2;
}

.dot-ornament-7 {
  position: relative;
  margin-top: -72px;
  left: 950px;
  height: fit-content;
}

.rect-7 img {
  position: relative;
  left: -230px;
  z-index: 1;
  margin-top: 79px;
}

.newsletter {
  display: flex;
  margin-top: -240px;
}

.subscribe-text {
  width: 100%;
  max-width: 600px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  margin-top: 50px;
  left: 70px;
  z-index: 2;
  white-space: nowrap;
}

.subscribe-text h1 {
  position: relative;
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
}
.subscribe-text p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.newsletter-right {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 70px;
  margin-top: -290px;
}
.rect-31 img {
  position: relative;
  top: 264px;
  right: -235px;
  height: 250px;
  z-index: 3;
}

.email-address {
  position: relative;
  display: flex;
  z-index: 5;
  border: 3px solid red;
}
.email-text {
  max-width: 100px;
  max-height: 300px;
  padding: 20px;
}

/* Footer */
#footer-container {
  width: 95%;
  height: auto;
  display: flex;
  margin: auto;
  gap: 110px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer-text-1 {
  position: relative;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-text-1 img {
  width: 95px;
  height: 25px;
}
.footer-text-1 p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
}

.footer-text-2 {
  position: relative;
  left: 35px;
}
.footer-text-2 h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.f-list-1 {
  margin-top: 20px;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  list-style-type: none;
}

.footer-text-3 {
  position: relative;
  left: 35px;
}
.footer-text-3 h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.f-list-2 {
  margin-top: 20px;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  list-style-type: none;
}

.footer-text-4 {
  position: relative;
  left: 35px;
}
.footer-text-4 h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.f-list-3 {
  margin-top: 20px;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  list-style-type: none;
}

.footer-text-5 {
  position: relative;
  left: 35px;
}
.footer-text-5 h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.f-list-4 {
  margin-top: 20px;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  list-style-type: none;
}

.social-media {
  position: relative;
  display: flex;
  left: 100px;
  gap: 20px;
  width: fit-content;
}

.footer-parag {
  width: fit-content;
  position: relative;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #a4a4a4;
}

@media (max-width: 860px) {
  .nav-ul {
    display: none;
  }
  .hamburger {
    visibility: visible;
  }
  #hero-section {
    text-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .hero-image img {
    width: 460px;
    margin-right: 150px;
  }
  #clients {
    flex-direction: column;
    margin-top: 100px;
  }
  #services {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rectangle-box {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  #header-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .nav-ul {
    display: none;
  }
  #hero-section {
    text-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .hero-image img {
    width: 400px;
  }
  #clients {
    flex-direction: column;
  }
  .rectangle-2 {
    width: 550px;
    margin-left: 30px;
  }
  .gt {
    width: 224px;
    height: 280px;
    margin-bottom: 35px;
  }
  .layout-1 {
    position: relative;
    left: 50px;
  }
  .layout-2 {
    position: relative;
    left: 305px;
  }
  .layout-3 {
    position: relative;
    left: 50px;
  }
  .layout-4 {
    position: relative;
    left: 305px;
  }
  #great-digital{
    flex-direction: column;
}
  .image-unsplash img{
    width:  540px;
  }
  #client-feedback {
    flex-direction: column;
  }
  .clients-comments {
    justify-content: center;
    align-items: center;
    margin-top: -80px;
  }
  .right-pics {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
  }
  #newsletter-section {
    flex-direction: column;
  }
  .rect-30 img {
  position: relative;
  width: 500px;
  height: 300px;
  z-index: 2;
  }
  .newsletter {
    flex-direction: column;
  }
  .email-address {
    width: fit-content;
    position: relative;
    right: 100px;
  }
  .email-text {
    position: relative;
    right: 50px;
    margin-top: 15px;
    width: fit-content;
  }
  
  .email {
    position: relative;
    width: max-content;
    margin-top: -156px;
    left: 280px;
    padding-bottom: 100px;
  }
  .subscribe-text {
    margin-top: 50px;
  }
  
  .rect-31 img{
    position: relative;
    max-height: 200px;
    max-width: 500px;
    left: 90px;
  }

  #footer-container {
    flex-direction: column;
    gap: 50px;
  }
  .social-media {
    flex-direction: row;
    position: relative;
    left: 220px;
    border: 1px solid red;
  }
}
