* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    border: 1px solid red;
}
/* Header Section */
#header-section {
    width: 90%;
    border: 1px solid red; 
    margin: auto;
    display: flex;
}
#header-section img {
    margin: 30px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}
.nav-ul a {
    /* border: 1px solid red; */
    position: relative;
    left: 375px;
    top: 30px;
    text-decoration: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.nav-ul a:hover {
    color: blue;
}

/* Hero Section */
#hero-section {
    width: 100%;
    border: 1px solid red;
    margin: auto;
    display: flex;
}

.dot-ornament img {
    border: 1px solid red;
    position: absolute;
    margin-top: 290px;
    left: 45px;
    width: 340px;
    height: 170px;
    }

.hero-left {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    left: 80px;
    border: 1px solid red;
}

.hero-left h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.hero-left span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.hero-left button {
    border: 1px solid red;
    background-color: #2639ED;
    color: white;
    width: 150px;
    height: 45px;
    font-size: 16px;
    font: bold;
    border-radius: 50px;
}

.ellipse-85{
    position: absolute;
    left: 450px;
}

.Rectangle-23 {
    position: absolute;
    top: 500px;
    left: 900px;
}

.hero-image {
    height: 512px;
    width: 754px;
    position: relative;
    top: 0;
    left: 154px;
}



